.headerContainer {
  display: flex;
 background-color: aquamarine;
 text-align: center;
}
.headerLogo {
  width: 190px;

}
.headerContainer h1 {
  font-family: 'Itim';
  flex-grow: 1;
  align-items: left;
}

